h1 {
  text-align: center;
  color: cornflowerblue;
  margin-left: 20px;
}

body {
  background-color: lightgrey;
}

h2 {
  color: steelblue;
  text-align: left;
}

h3 {
  color: deepskyblue;
  text-align: left;
}

