<!DOCTYPE html>
<html>
<head>
<title>Voltage divider calculator</title>
<link rel="stylesheet" href="style.css">
</head>
<body>

<h1>Voltage divider calculator</h1>
<center><img src='https://github.com/daniil172101/RTR108/blob/master/darbi/P12_HTML_and_CSS/shema_1.png?raw=true' width=350 alt='Izmantotas shēmas bilde'></center>
<p>Jūs tagad atrodāties simulācijas rezultātu lapā. Augšā jūs varāt redzēt sprieguma dalītāja bildi.</p>

<p>
 Jūs ievādījāt elementu vērtības, rezultāts ir redzams zemāk.<br>
 Sprieguma vērtība uz rezistora R2 ir: <%= data1 %> V
</p>

<input type=button onClick="location.href='/'" value='Atpakaļ'>
</body>
</html>
